<form method="post" id="<%= @todo.id %>" action="/todos/<%= @todo.id %>">
  <input type="hidden" name="_method" value="put">

  <label>To Do: </label>
    <input type="text" name="name" value="<%= @todo.name %>">

  <textarea id="notes" name="notes" rows="20" cols = "50"><%= @todo.notes %></textarea><br>

  <%= erb :'/todos/_brainjuice_select', layout: false, locals: {task: @todo, brainjuice_name: @bj_name}  %>
  <%= erb :'/todos/_time_est_select', layout: false, locals: {task: @todo }  %>

  <input type="submit" name="btn" id="submit-edits-btn" value="Save changes">
</form>
