  <form method="post" id="<%= @todo.id %>" action="/todos/<%= @todo.id %>">
    <input type="hidden" name="_method" value="put">
    <label>Title: </label>
      <input type="text" name="name" value="<%= @todo.name %>">
    <textarea id="notes" name="notes" rows="20" cols = "50"><%= @todo.notes %></textarea><br>
    <label>Brainjuice required: </label>
      <input type="text" name="brainjuice_id" value="<%= @bj_name %>"><br>
     <label>Time est:</label>
      <input type="number"  name="time_est" value="<%= @todo.time_est %>"><br>

      <label id="complete-task" for="check_completed">Mark this complete</label><br>
      <input type="checkbox" id="check_completed"  name="completed" value="Mark this complete"><br>
    <input type="submit" name="btn" id="submit-btn" value="Save changes to note">
  </form>


