<form method="post" id="<%= @todo.id %>" action="/todos/<%= @todo.id %>">
  <input type="hidden" name="_method" value="put">

  <label>To Do: </label>
    <input type="text" name="name" value="<%= @todo.name %>">

  <textarea id="notes" name="notes" rows="20" cols = "50"><%= @todo.notes %></textarea><br>

  <%= erb :'/todos/_brainjuice_select', layout: false  %>

  <%= erb :'/todos/_time_est_select', layout: false  %>

  <!-- <label>Check when done </label> -->

  <!-- <label id="complete-task" for="check_completed">Mark this complete</label><br> -->
  <!-- <input type="checkbox" id="check_completed"  name="completed"><br> -->
  <!-- <label><input type="checkbox" /> Click it</label> -->
  <!-- <div>
     <label><input type="checkbox" /> Label text</label>
   </div> -->
   <!-- <label><input type="checkbox" name="checkbox" value="value">Text</label> -->


  <input type="submit" name="btn" id="submit-btn" value="Save changes">
</form>
