
<div class="flex-item">
  <div>
    <h1>A Visual Planner<br>
      <% d = Time.now %>
      <%= d.strftime("%e %B") %>
    </h1>
  </div>
  <div id="first-step">
    <h3> Step #1<br>Arrange the boxes to plan out your day.</h3>
  </div>
  <div id="edit-form">
  </div>
</div>

<div class="flex-item white" >
  <div class="day_layout">
    <div class="box routine">
      <p class="text-box">
        Morning Routine
      </p>
    </div>
    <div class="box high">
      <p class="text-box">
        High Brain Juice
      </p>
    </div>
    <div class="box routine">
      <p class="text-box">
        Lunch
      </p>
    </div>
    <div class="box medium">
      <p class="text-box">
        Medium Brain Juice
      </p>
    </div>
    <div class="box low">
      <p class="text-box">
       Low Brain Juice
      </p>
    </div>
  </div>
  <input type="button" id="btn-structure" value="Done structuring day">

</div>

<div class="flex-item" id="right-side">
  <a class="btn" id="showTodoForm" href="/todos/new">Create new todo</a>
    <div id="dialog">
      <form action="/todos" method="post" id="new-todo-form">
        <input type="text" placeholder="Whatcha need to do?" name="todo[name]" autofocus>
        <select name="todo[time_est]" id="time-est">
          <option>5 min</option>
          <option>15 min</option>
          <option>30 min</option>
          <option>60 min</option>
        </select>
        <select name="brainjuice_id" id="bj-new-todo">
          <option>Medium</option>
          <option>High</option>
          <option>Low</option>
        </select>
        <input type="submit" id="new-todo-btn">
      </form>
      <input type="button" id="todo-done-btn" class="hide" value="Done entering Todos">
      <h3 id="msg-next-step">Click on one of the Brain Juice boxes to see all tasks for that level.</h3>

    </div>
  <div id="showTodos">
    <% if @todos %>
      <ul id="high">
        <h3>High</h3>
        <% @todos.where(completed:false).each do |task| %>
          <% if task.brainjuice_id == 1 %>
          <li>
            (<%= task.time_est%> <em>min</em>) &nbsp; <a href="/todos/<%= task.id %>/edit" id="<%= task.id %>"><%= task.name %></a>
          </li>
          <% end %>
        <% end %>
      </ul>
      <ul id="medium">
        <h3>Medium</h3>
        <% @todos.where(completed:false).each do |task| %>
          <% if task.brainjuice_id == 2 %>
          <li>
            (<%= task.time_est%> <em>min</em>) &nbsp; <a href="/todos/<%= task.id %>/edit" id="<%= task.id %>"><%= task.name %></a>
          </li>
          <% end %>
        <% end %>
      </ul>

      <ul id="low">
        <h3>Low</h3>
        <% @todos.where(completed:false).each do |task| %>
          <% if task.brainjuice_id == 3 %>
          <li>
            (<%= task.time_est%> <em>min</em>) &nbsp; <a href="/todos/<%= task.id %>/edit" id="<%= task.id %>"><%= task.name %></a>
          </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
