
<div class="flex-item" id="col-one">
  <div class="col-one-container">
    <div class="title">
      <h1>A Visual Planner</h1>
      <% d = Time.now %>
      <h2><%= d.strftime("%e %B") %></h2>
    </div>
    <div id="steps">
      <%= erb :'/index/_steps', layout: false  %>
    </div>
    <div id="edit-form">
    </div>
  </div>
</div>

<div class="flex-item white" id="col-two">
  <%= erb :'/index/_day_layout', layout: false  %>
</div>

<div class="flex-item" id="col-three">

  <div id="showTodoForm" class="hidden">
    <%= erb :'/todos/_new_todo_form', layout: false  %>
  </div>

  <div id="showTodos">
    <%= erb :'/todos/_show', layout: false  %>
  </div>
</div>
