
<div class="flex-item" id="col-one">
  <div class="col-one-container">
    <div class="title">
      <h1>A Visual Planner</h1>
      <% d = Time.now %>
      <h2><%= d.strftime("%e %B") %></h2>
    </div>
    <div id="steps">
      <%= erb :'/index/_steps', layout: false  %>
    </div>
  </div>
</div>

<div class="flex-item white" id="col-two">
  <%= erb :'/index/_day_layout', layout: false  %>
</div>

<div class="flex-item" id="col-three">
  <div id="dialog">
    <%= erb :'/todos/_new_todo_form', layout: false  %>
    <!-- <input type="button" id="todo-done-btn" class="hide" value="Done entering Todos"> -->
    <!-- <h3 id="msg-next-step">Click on one of the Brain Juice boxes to see all tasks for that level.</h3> -->
  </div>
  <div id="showTodos">
    <%= erb :'/todos/_show', layout: false  %>
  </div>
  <!-- <a class="btn" id="showTodoForm" href="/todos/new">Create new todo</a> -->
  <div id="edit-form">
  </div>

</div>
